#jsrow {
	text-align: start;
}

.jsrow-clear {
	color: #ffcc66;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-style: italic;
}

.jsrow-checked td {
	background: #d5f5e3 !important;
}

.jsrow-title {
	color: orange;
}

.jsrow-total-shortage {
	color: #3c3;
}

.jsrow-total-overage {
	color: #c33;
}
